.footer{
  background-color: var(--black);
  height: 300px;
  width: 100%;
  border-radius: .3rem;
  border-top-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: medium;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;
  padding: 15px 15px;
}

.footer div{
  text-align: center;
}

.footer .icons *{
  margin: 0px 15px;
  color: var(--white);
  font-size: x-large;
  cursor: pointer;
}

.footer .icons *:hover{
  color: var(--primary);
}

.footer .develop a{
  /* color: var(--white); */
  /* text-decoration: none; */
  color: yellow;

}

.footer .text{
  color: var(--white);
}
